<div class="custom-icon-with-text-2-container">
  <div class="custom-icon-with-text-2-item">
    <img
      class="custom-icon-with-text-2-item-img"
      src="{{ block.settings.custom-image-1 | img_url: 'master' }}"
      alt="{{ block.settings.custom-image-1.alt | escape }}"
    >
    <p class="custom-icon-with-text-2-item-description">
      {{- block.settings['custom-description-1'] -}}
    </p>
  </div>

  <div class="custom-icon-with-text-2-item">
    <img
      class="custom-icon-with-text-2-item-img"
      src="{{ block.settings.custom-image-2 | img_url: 'master' }}"
      alt="{{ block.settings.custom-image-2.alt | escape }}"
    >
    <p class="custom-icon-with-text-2-item-description">
      {{- block.settings['custom-description-2'] -}}
    </p>
  </div>

  <div class="custom-icon-with-text-2-item">
    <img
      class="custom-icon-with-text-2-item-img"
      src="{{ block.settings.custom-image-3 | img_url: 'master' }}"
      alt="{{ block.settings.custom-image-3.alt | escape }}"
    >
    <p class="custom-icon-with-text-2-item-description">
      {{- block.settings['custom-description-3'] -}}
    </p>
  </div>

  <div class="custom-icon-with-text-2-item">
    <img
      class="custom-icon-with-text-2-item-img"
      src="{{ block.settings.custom-image-4 | img_url: 'master' }}"
      alt="{{ block.settings.custom-image-4.alt | escape }}"
    >
    <p class="custom-icon-with-text-2-item-description">
      {{- block.settings['custom-description-4'] -}}
    </p>
  </div>
</div>
